<h1>Estudiantes</h1>

<form action="/estudiantes" method="GET">
    <select name="orderType">
        <option value="orderAge">Ordenar por Edad</option>
        <option value="orderSemester">Ordenar por Semestre</option>
    </select>
    <button type="submit">Ordenar</button>
</form>

<form action="/estudiantes" method="GET">
    <input type="hidden" name="filter" value="old">
    <button type="submit">Mostrar viejos</button>
</form>

<a href="/estudiantes">Mostrar todos</a>

<p class="cart">Carrito: <span class="cart__count">{{cart.length}}</span></p>

<ul>
    {{#each list}}
        <li class="student">
            <strong class="student__name">{{name}}</strong> - 
            Edad: {{age}} - Semestre: {{semester}} 
            <a href="#" class="student__btnadd" data-name="{{name}}">Agregar</a>
        </li>
    {{/each}}
</ul>


<script src="/scripts/addToCart.js"></script>